* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: "Iceland", serif;
    line-height: 1.2;
    font-size: 24px;
    background-image: url('images/background-accueil.png');
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}

/* ------------------------------ CSS HEADER ------------------------------------------- */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header-nav {
    background-color: #F3F3F3;
    padding: 0 10px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    list-style: none;
    display: flex;
}

.menu-items {
    color: black;
    margin: 0 10px;
    text-decoration: none;
}

.menu-items:hover {
    color: rgb(255, 0, 234);
}

/* ------------------------------ CSS FOOTER ------------------------------------------- */

.footer-nav {
    background-color: #7C7C7C;
    height: 60px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-icon {
    font-size: 36px;
    color: #F3F3F3;
}

/* ------------------------------ CSS INDEX ------------------------------------------- */

.main {
    margin: 60px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.first-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-introduction {
    text-align: justify;
    word-wrap: break-word;
    margin: 50px 0;
}

.button-container {
    width: 100%;
    text-align: center;
}

.button-discover {
    font-family: "Iceland", serif;
    background-color: #bc1b7e;
    color: white;
    border: 0;
    border-radius: 40px;
    width: 100%;
    max-width: 300px;
    line-height: 1.8;
    font-size: 20px;
    margin: 20px;
}

.button-discover:hover {
    background-color: white;
    color: #bc1b7e;
}

.button-contact {
    font-family: "Iceland", serif;
    background-color: #bc1b7e;
    color: white;
    border: 0;
    border-radius: 40px;
    width: 100%;
    max-width: 300px;
    line-height: 1.8;
    font-size: 20px;
    margin: 20px;
}

.button-contact:hover {
    background-color: white;
    color: #bc1b7e;
}

/* ------------------------------ CSS PARCOURS ------------------------------------------- */

.table-parcours {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
}

th {
    background-color: #d3d3d3;
}

th,
td {
    border: 1px solid black;
    padding: 12px;
    text-align: left;
    vertical-align: top;
}

.download-icon {
    text-align: center;
    border: 0;
}

.download-icon a {
    text-decoration: none;
    display: inline-block;
    padding: 5px;
}

/* ------------------------------ CSS CMPETENCES ------------------------------------------- */

.title-center {
    text-align: center;
}

.competences {
    margin: 50px 0;
}
