* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: "Iceland", serif;
    line-height: 1.2;
    font-size: 24px;
}

/* ------------------------------ CSS HEADER ------------------------------------------- */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header-nav {
    background-color: #F3F3F3;
    padding: 0 10px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    list-style: none;
    display: flex;
}

.menu-items {
    color: black;
    margin: 0 10px;
    text-decoration: none;
}

.menu-accueil:hover {
    color: #F88600;
}

.menu-parcours:hover {
    color: #62BC1B;
}

.menu-experiences:hover {
    color: #103DAF;
}

/* ------------------------------ CSS FOOTER ------------------------------------------- */

.footer-nav {
    background-color: #7C7C7C;
    height: 60px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.footer-icon {
    font-size: 36px;
    color: #F3F3F3;
}

.separator {
    color: #F3F3F3;
    margin: 0 10px;
    height: 70%;
}

/* ------------------------------ CSS INDEX ------------------------------------------- */

.main {
    margin: 60px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.first-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-introduction {
    text-align: justify;
    word-wrap: break-word;
    margin: 50px 0;
}

.button-container {
    width: 100%;
    text-align: center;
}

.button-discover {
    font-family: "Iceland", serif;
    color: black;
    background-color: #62BC1B;
    border: 0;
    border-radius: 40px;
    width: 70%;
    max-width: 300px;
    line-height: 1.8;
    font-size: 20px;
}

.button-discover:hover {
    background-color: #F3F3F3;
    color: #62BC1B;
}

/* ------------------------------ CSS PARCOURS ------------------------------------------- */

.table-parcours {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
    vertical-align: top;
}

.download-icon {
    text-align: center;
    border: 0;
}

.download-icon a {
    text-decoration: none;
    display: inline-block;
    padding: 5px;
}